PORT=8000
MONGODB_URL=
CORS_ORIGIN=http://localhost:5173
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:8000
NODE_ENV=development

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=SynapseAI

GEMINI_API_KEY=
